body{
    margin: 0px;
}
.header-header {
    unicode-bidi: isolate;
    align-self: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header-img{
    align-self: auto;
    width: 50px;
}

nav{
    width:250px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav button{
    border: white;
    background: gray;
    color: wheat;
    border-radius: 10px;
    min-width: 70px;
}
.header-vergi-mc{
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.header-vergi-mc img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}